#icon.feather {
    font-size               : calc(var(--font-size) * 0.9);
}
#icon.feather:not(.no-label) {
    padding-right           : calc(var(--spacing) / 1.5);
}
#icon::before {
    display                 : inline-block;

    transform               : scale(1.4);
}
#label {
    font-weight             : bold;
}