:root {
    --require           : none;
    --mobile            : 0;
    --desktop           : 1;
}
html,
body {
    width               : 100%;
    height              : 100%;

    margin              : 0;
    overflow            : hidden;

    overscroll-behavior : none;
}

body::before {
    padding             : calc(50vh - 1.5em) 0;

    font-family         : 'feather';
    font-size           : 80px;

    background-color    : black;
    background-color    : rgb(var(--color));

    z-index             : 65535;
}

body::after {
    padding             : 50vh 10vw;

    max-width           : 400px;

    margin              : auto;

    z-index             : 65535;
}

body::before,
body::after {
    position            : absolute;
    top                 : 0;
    left                : 0;
    right               : 0;
    bottom              : 0;

    text-align          : center;

    white-space         : pre-wrap;

    color               : white;
    color               : rgb(var(--background-color));
}

@media(max-height: 400px) {
    body::before {
        font-size       : 20vh;
    }
}

[require-javascript] body::after,
[require-javascript] body::before,
[require-css-custom-properties] body::after,
[require-css-custom-properties] body::before  {
    animation: zoom-in 0s forwards;
}
body:not([block])[blocking-message]::after,
body:not([block])[blocking-message]::before,
body:not([block])[blocking-progress]::after,
body:not([block])[blocking-progress]::before {
    animation: zoom-in 0.3s forwards ease-out;
}
body[blocking-message='']::after,
body[blocking-message='']::before,
body[blocking-progress='']::after,
body[blocking-progress='']::before {
    animation: fade-out 0.3s forwards !important;
}

[require-javascript] body::before,
[require-css-custom-properties] body::before
{
    content             : '\e84e';
}

[require-javascript] body::after {
    content             : 'Javascript is required for this app to work correctly. Please enable javascript if your browser supports it, or use another browser with javascript enabled.';
}

:not([require-javascript])[require-css-custom-properties] body::after {
    content             : 'Your browser does not seem to support css custom-properties. In order to be able to use this app, you must use a browser that supports css custom-properties.';
}
:not([require-javascript])[require-css-custom-properties] body:not([blocking-message]):not([blocking-progress])::after,
:not([require-javascript])[require-css-custom-properties] body:not([blocking-message]):not([blocking-progress])::before {
    content             : var(--require); /* when css custom-properties are supported, this will make the message to disappear */
}

body[block]:not([blocking-progress-message])::before,
body[blocking-progress]:not([blocking-progress-message]):not([blocking-progress-icon])::before {
    content             : '' !important;
}

body[blocking-message]:not([blocking-message-icon])::before {
    content             : '\e891' !important;
}

body[blocking-message][blocking-message-icon]::before {
    content             : attr(blocking-message-icon) !important;
}

body[blocking-message]::after {
    content             : attr(blocking-message) !important;
}

body[blocking-progress]:not([blocking-progress-message=''])::before {
    content             : attr(blocking-progress-message) !important;

    padding             : calc(50vh - 2em) 0;

    font-family         : sans-serif;
    font-size           : initial; 
}

body[blocking-progress][blocking-progress-icon]::before {
    content             : attr(blocking-progress-icon);
}

body[blocking-progress]::after {
    content             : attr(blocking-progress) !important;

    font-family         : 'Source Code Pro' !important;
    text-shadow         : -1px 0px white; /* CSS Hack - For browser who render subpixel spaces between the block characters */
    text-shadow         : -1px 0px rgb(var(--background-color));
}

@keyframes zoom-in {
    0% {
        transform       : scale(0.9);

        opacity         : 0;

        z-index         : -1;
    }
    100% {
        transform       : scale(1);

        opacity         : 1;
    }
}

@keyframes zoom-out {
    0% {
        transform       : scale(1);

        opacity         : 1;
    }
    100% {
        transform       : scale(0.9);

        opacity         : 0;

        z-index         : -1;
    }
}

@keyframes fade-in {
    0% {
        transform       : scale(0.9);

        opacity         : 0;

        z-index         : -1;
    }
    100% {
        transform       : scale(1);

        opacity         : 1;
    }
}

@keyframes fade-out {
    0% {
        opacity         : 1;
    }
    100% {
        opacity         : 0;

        z-index         : -1;
    }
}