:root {
    --font-size                 : 15px;
    --font-family               : sans-serif;

    --color                     : black;
    --background-color          : white;

    --spacing                   : var(--font-size);

    --border-width              : 1px;
    --border-radius             : 0px;

    --ui-transition-duration    : 0.1s;

    --focus-outline             : none;
}

body {
    font-family                 : var(--font-family);
    font-size                   : var(--font-size);

    color                       : rgb(var(--color));
    background-color            : rgb(var(--background-color));
}

/*
    Remove the oultine chrome puts around input elements by default
*/
*:focus {
    outline                     : var(--focus-outline);
}

@media(pointer: coarse) {
    :root {
        --spacing: calc(var(--font-size) * 2);
    }
}