[theme='carbon'] {
    --font-family               : 'roboto', sans-serif;
    
    --dark-color                : 35,   37,  45;
    --light-color               : 230, 232, 235;

    --black-color               : 11,   12,  14;
    --dark-grey-color           : 61,   77,  92;
    --grey-color                : 112, 126, 141;
    --light-grey-color          : 163, 179, 194;
    --white-color               : 249, 250, 251;
    --slate-color               : 120, 101, 124;
    --grape-color               : 90,   71, 140;
    --blue-color                : 51,   85, 180;
    --ocean-color               : 51,  135, 180;
    --mint-color                : 24,  140, 143;
    --green-color               : 24,  150, 113;
    --pea-color                 : 105, 150,  53;
    --army-color                : 155, 150,  63;
    --yellow-color              : 195, 150,  53;
    --orange-color              : 202, 110,  33;
    --red-color                 : 202,  60,  42;
    --pink-color                : 192,  50,  82;
    --purple-color              : 160,  51,  95;
    --wine-color                : 120,  51,  75;
    --rosy-color                : 110,  71,  75;
    --brown-color               : 110,  91,  75;

    --color                     : var(--dark-color);
    --background-color          : 153, 169, 184;

    --shade-0                   : 13,   14,  17;
    --shade-1                   : 25,   26,  31;
    --shade-2                   : var(--color);
    --shade-3                   : 45,   47,  57;
    --shade-4                   : 56,   59,  71;
    --shade-5                   : 67,   71,  86;

    --background-shade-0        : 131, 150, 170;
    --background-shade-1        : 140, 158, 177;
    --background-shade-2        : var(--background-color);
    --background-shade-3        : 167, 181, 195;
    --background-shade-4        : 185, 196, 208;
    --background-shade-5        : 194, 204, 214;

    --border-width              : 1px;
    --border-radius             : 4px; 
}

[theme='carbon'][theme-style='dark'] {
    --color                     : var(--light-grey-color);
    --background-color          : var(--dark-color);

    /* --shade-0                   : 131, 150, 170;
    --shade-1                   : 140, 158, 177;
    --shade-2                   : var(--background-shade-2);
    --shade-3                   : var(--background-shade-3);
    --shade-4                   : var(--background-shade-4);

    --background-shade-0        : var(--shade-0);
    --background-shade-1        : var(--shade-1);
    --background-shade-2        : var(--shade-2);
    --background-shade-3        : var(--shade-3);
    --background-shade-4        : var(--shade-4); */
    --background-shade-0        : 13,   14,  17;
    --background-shade-1        : 25,   26,  31;
    --background-shade-2        : var(--background-color);
    --background-shade-3        : 45,   47,  57;
    --background-shade-4        : 56,   59,  71;
    --background-shade-5        : 67,   71,  86;
}

