:host > *:first-child[movable] {
    position                : absolute;
}
:host > *:first-child[opaque] {
    color                   : rgb(var(--bg-color));
    background-color        : rgb(var(--fg-color)); 
}
:host > *:first-child[border-none] {
    border-color            : transparent;
}
:host > *:first-child[color]:not([border-auto]):not([border-white]):not([border-black]),
:host > *:first-child[opaque]:not([border-auto]):not([border-white]):not([border-black]) {
    --b-color               : var(--fg-color);
}
:host > *:first-child[color='black'] {
    --fg-color              : var(--black-color);
}
:host > *:first-child[color='dark-grey'] {
    --fg-color              : var(--dark-grey-color);
}
:host > *:first-child[color='light-grey'] {
    --fg-color              : var(--light-grey-color);
}
:host > *:first-child[color='white'] {
    --fg-color              : var(--white-color);
}
:host > *:first-child[color='slate'] {
    --fg-color              : var(--slate-color);
}
:host > *:first-child[color='grape'] {
    --fg-color              : var(--grape-color);
}
:host > *:first-child[color='blue'] {
    --fg-color              : var(--blue-color);
}
:host > *:first-child[color='ocean'] {
    --fg-color              : var(--ocean-color);
}
:host > *:first-child[color='mint'] {
    --fg-color              : var(--mint-color);
}
:host > *:first-child[color='green'] {
    --fg-color              : var(--green-color);
}
:host > *:first-child[color='pea'] {
    --fg-color              : var(--pea-color);
}
:host > *:first-child[color='army'] {
    --fg-color              : var(--army-color);
}
:host > *:first-child[color='yellow'] {
    --fg-color              : var(--yellow-color);
}
:host > *:first-child[color='orange'] {
    --fg-color              : var(--orange-color);
}
:host > *:first-child[color='red'] {
    --fg-color              : var(--red-color);
}
:host > *:first-child[color='pink'] {
    --fg-color              : var(--pink-color);
}
:host > *:first-child[color='purple'] {
    --fg-color              : var(--purple-color);
}
:host > *:first-child[color='wine'] {
    --fg-color              : var(--wine-color);
}
:host > *:first-child[color='rosy'] {
    --fg-color              : var(--rosy-color);
}
:host > *:first-child[color='brown'] {
    --fg-color              : var(--brown-color);
}
:host > *:first-child {
    --fg-color              : var(--color);
    --bg-color              : var(--background-color);
    --b-color               : var(--color);

    cursor                  : default;
    user-select             : none;
    -webkit-user-select     : none;

    display                 : inline-block;

    top                     : calc(var(--offset-top) * 1px);
    right                   : calc(var(--offset-right) * 1px);
    bottom                  : calc(var(--offset-bottom) * 1px);
    left                    : calc(var(--offset-left) * 1px);

    color                   : rgb(var(--fg-color));

    border-width            : var(--border-width); 
    border-style            : solid; 
    border-color            : rgb(var(--b-color)); 
    border-radius           : var(--border-radius);

    padding                 : calc(var(--spacing) / 1.5) var(--spacing);

    transition              : background-color var(--ui-transition-duration),
                              color            var(--ui-transition-duration)
                              ;
}
:host > *:first-child[border-white] {
    --b-color               : var(--white-color);
}
:host > *:first-child[border-black] {
    --b-color               : var(--black-color);
}
:host > *:first-child[background-light] {
    background-color        : rgb(var(--light-color));
}
:host > *:first-child[background-dark] {
    background-color        : rgb(var(--dark-color));
}
:host > *:first-child[background-light],
:host > *:first-child[background-dark] {
    color                   : rgb(var(--fg-color));
}
:host > *:first-child[background-light][color='black'],
:host > *:first-child[background-light][color='white'],
:host > *:first-child[background-light]:not([color]),
:host > *:first-child[background-light][color='white']:hover,
:host > *:first-child[background-dark][color='white']:hover,
:host > *:first-child[foreground-dark] {
    color                   : rgb(var(--dark-color));
}
:host > *:first-child[background-dark][color='black'],
:host > *:first-child[background-dark][color='white'],
:host > *:first-child[background-dark]:not([color]),
:host > *:first-child[background-light][color='black']:hover,
:host > *:first-child[background-dark][color='black']:hover,
:host > *:first-child[foreground-light] {
    color                   : rgb(var(--light-color));
}
:host > *:first-child:hover {
    background-color        : rgba(var(--fg-color), 0.15);
}
:host > *:first-child[opaque][color='black']:hover {
    background-color        : rgba(var(--light-color), 0.05);
}
:host > *:first-child[background-light]:hover,
:host > *:first-child[background-dark]:hover {
    color                   : rgb(var(--bg-color));
}
:host > *:first-child:active {
    color                   : rgb(var(--bg-color));
    background-color        : rgb(var(--fg-color));
}
:host > *:first-child[opaque][color='black']:active {
    color                   : rgb(var(--fg-color));
}
:host > *:first-child[opaque]:not(:active):hover {
    background-color        : rgba(var(--fg-color), 0.7);
}

/* DEBUG */
:host > *:first-child {
    margin-bottom: 4px;
}