#control {
    display                 : table;

    /* align-self              : center;
    justify-self            : center; */

    position                : absolute; 
    margin                  : 0 var(--border-width) var(--border-width) 0;

    /* this trasnform is needed to start the panel centered, because 
       of the way web components in flex render  */
    transform               : translate(-50%, -50%);

    background-color        : rgba(var(--background-color), 0.9);
    backdrop-filter         : blur(10px) saturate(2);
    -webkit-backdrop-filter : blur(10px) saturate(2);

    /* experimental directional shadow, it moves with the position of
       the element, like as if there would be a light directly above 
       the center of the page */
    /* --shadow-offset-x       : (var(--offset-left) / var(--viewport-width));
    --shadow-offset-y       : (var(--offset-top) / var(--viewport-height));

    box-shadow              : calc(
                                    ((-0.5 + var(--shadow-offset-x)))
                                    * 
                                    (var(--spacing) * 5)
                              )
                              calc(
                                    ((-0.5 + var(--shadow-offset-y)))
                                    * 
                                    (var(--spacing) * 5)
                              )
                              20px
                              rgba(var(--dark-color), 0.3)
                              ; */
    box-shadow              : var(--spacing) var(--spacing) 20px rgba(var(--dark-color), 0.1);
}
#control:active {
    color                   : var(--color); 
}